{{ define "main"}}
<div class="container is-fluid">
    <div class="columns">
        <div class="column is-12">
             {{ template "nav" .}}

{{template "content" .}}
        </div>
    </div>
</div>
{{end}}